* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aliceblue;
}

header {
  position: fixed;
}

h1 {
  color: seagreen;
  text-align: center;
  font-size: 36px;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: antiquewhite;
  border: 6px solid cornflowerblue;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: seagreen;
  font-size: 28px;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
}

.navbar a {
  float: right;
  display: block;
  color: cornflowerblue;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  margin-top: 100px;
  padding: 20px;
}
